# Ignore build directories
build/
dist/
bin/
out/


# Ignore compiled files
*.o
*.class
*.pyc
*.exe

# Ignore temporary files
*.tmp
*.bak
*.swp
*.txt
tests/*.txt

# Ignore IDE-specific files
.vscode/
.idea/
*.sln
*.csproj
.xmake/
