# Ignore build directories
build/
dist/
bin/

# Ignore open source dependencies
opensource/
*.f90
*.zip


# Ignore compiled files
*.o
*.class
*.pyc
*.exe

# Ignore temporary files
*.tmp
*.bak
*.swp
*.txt
tests/*.txt

# Ignore IDE-specific files
.vscode/
.idea/
*.sln
*.csproj
.xmake/
